<div class="container mx-auto ">
  <div class="card mx-auto" style="width: 40rem;">
    <img src="/bojackAvatar.png" class="card-img-top" alt="...">
    <div class="card-body">
      {{#unless data}}
      <h5 class="card-title ml-2">Account Login</h5>
      <form action="/login" method="POST">
        <div class="input-group mb-3 ">
          <span class="input-group-text">Email</span>
          <input type="email" class="form-control" placeholder="Username" name="email">
          <span class="input-group-text" id="basic-addon1">password</span>
          <input type="password" class="form-control" placeholder="password" name="password">
        </div>
        <button class="btn btn-outline-primary ml-2" type="submit">登錄</button>
      </form>
      {{/unless}}
      {{#if data}}
      <div class="alert alert-success mt-2" role="alert">
        <h4 class="alert-heading">成功登陸!</h4>
        <p>恭喜發財</p>
        <hr>
        <a href="/">
          <button class="btn btn-outline-primary">再玩一次</button>
        </a>
      </div>
      {{/if}}
      {{#if warning}}
      <div class="alert alert-danger mt-2" role="alert">
        登錄失敗！{{warning}}
      </div>
      {{/if}}
    </div>
  </div>
</div>